<h1>Bienvenido al sistema de control de configuraciones e infraestructura</h1>

<h2>configurando host de Ejecucion...</h2>
<h3>Introduzca  información del host de ejecución de instrucciones</h3>

<%= render 'form' %>


