<div class="contenedor">
<h1>Bienvenido al Sistema de Control de Configuraciones e Infraestructura</h1>

<div>
	<p>El Sistema de Control de Configuraciones e Infraestructura permite una visualización del estado de los nodos de la empresa, ver que servicios activos y orquestar la configuración con ansible </p>
</div>
</div>
<div>
	<h2 class="titulo">La aplicación esta lista para iniciar la configuración</h2>
</div>
<div>
	<H3>Por favor crea un usuario y contraseña para asegurar un acceso seguro</H3>
</div>

<div class="formulario">
	<%= render 'form' %>
</div>
